<div class = "auserpage">
<p class = "welcome"> Hello there, <%= current_user.email %> <br>
welcome back! <br>

<%= link_to "Go to All Posts", posts_path %> or <%= link_to "Create a New Question", new_post_path %>
</p>
</div>