<div class="home-layout">
 <div class="card padding" >
 <p class = "home1"> Enlight.me </p>
 <p class = "home">
 Enlight Me is a way of many ways for better understanding. It is a place for answers seekers. Sign up to ask questions and answer other's questions.  
 </p>
<div class = "buttons">
 <button class=" waves-effect btn-large  yellow darken-1 carousel-item"><a href="sass.html"><%= link_to 'Sign Up', new_user_registration_path %></a></button>
 <button class=" waves-effect btn-large  yellow darken-1 carousel-item"><a href="sass.html"><%= link_to 'Log In', new_user_session_path %></a></p></button>
</div>
 </div>
</div>